$header-height: 60px;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $header: (
    'height': $header-height,
  )
);
@use "element-plus/theme-chalk/src/index.scss" as *;
@use '../node_modules/element-plus/theme-chalk/src/mixins/_var.scss' as *;


html {
    @include set-component-css-var('menu', (
        'bg-color': (
            var(--el-bg-color-overlay)!important
        )
    ));
}

.main {
    margin-top: $header-height;
    height: 100%;
}

.container {
    padding: 0 15px;
}

@include screen-size('mobile') {
    .container {
        padding: 0;
    }
}

@include screen-size('tablet') {
    .container {
        padding: 0 calc(50% - 270px);
    }
}

@include screen-size('big-tablet') {
    .container {
        padding: 0 calc(50% - 360px);
    }
}

@include screen-size('small-desktop') {
    .container {
        padding: 0 calc(50% - 480px);
    }
}

@include screen-size('desktop') {
    .container {
        padding: 0 calc(50% - 590px);
    }
}
