$header-height: 60px;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $header: (
    'height': $header-height,
  )
);
@use "element-plus/theme-chalk/src/index.scss" as *;
@use '../node_modules/element-plus/theme-chalk/src/mixins/_var.scss' as *;


html {
    background-color: var(--el-bg-color-page);
    @include set-component-css-var('menu', (
        'bg-color': (
            var(--el-bg-color-overlay)!important
        )
    ));
}


.main {
    margin-top: $header-height;
    height: 100%;
}

.container {
    padding: 0 15px;
}

@include screen-size('mobile') {
    .home-container {
        padding: 0 10px;
    }
    .container {
        padding: 0;
    }
}

@include screen-size('tablet') {
    .home-container {
        padding: 0 10px;
    }
    .container {
        padding: 0 calc(50% - 270px);
    }
}

@include screen-size('big-tablet') {
    .home-container {
        padding: 0 max((100% - 1500px) / 2,30px)
    }
    .container {
        padding: 0 calc(50% - 360px);
    }
}

@include screen-size('small-desktop') {
    .container {
        padding: 0 calc(50% - 480px);
    }
}

@include screen-size('desktop') {
    .home-container {
        padding: 0 max((100% - 1500px) / 2,50px)
    }
    .container {
        padding: 0 calc(50% - 590px);
    }
}

.card {
    background: var(--el-bg-color);
    border-radius: var(--el-border-radius-round);
    padding: var(--el-border-radius-round);
}
